.row-repeater {
    margin-left: 0px;
    margin-right: 0px;
}
.font-orange .span-quotation{
	font-size: 18px !important;
}
.custom-row-wrap .custom-md-1{
	padding-left: 0px;
}
.custom-row-wrap .custom-md-1-dbl{
	padding-left: 0px;
	padding-right: 0px;
}
label.amt-disc{
	margin-bottom: 12px;font-size: 16px;color: #999;
}
.cal-value{
  margin-bottom: 12px;font-size: 16px;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i{
	padding-right: 5px !important;
}
a#btn-del{
    padding: 1px 6px !important;
}
.add_row{
	margin-top: 10px;
}
.form-main .form-group label{
	font-weight: 700;
}
.mt-repeater .add-row{
	margin-left: 0px;
}
.hide-label{
            display: none !important;
        }
.view-more{
  padding-bottom: 10px;
    margin-right: 8px;
    margin-left: 13px;
}
.title-add{
    margin-top: 3px;
    margin-left: -135px;
}

.tabbed-panel{
  margin-bottom: 0px;
    border: none!important;
}

.portlet>.portlet-title>.nav-tabs {
    background: 0 0;
    margin: 1px 0 0;
    float: left !important;
    display: inline-block;
    border: 0;
}

.boxes-main {
    background-color: #e6e6e6;
    
}

.nav-tabs li.active {
    background-color: white !important;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
     background: white !important; 
    border-bottom: 4px solid #194f80 !important;
}
.table-style-top{
    border-top: ridge;
}
.tabbed-custom-panel{
  border:none!important;
}
@media only screen and (max-width: 450px){
    .title-add {
     margin-top: 11px; 
    margin-left: -4px;
}
}


 @media only screen and (max-width: 599px) {
         .hide-label{
            display: block !important;
        }
        .hidden-mobile{
            display: none !important;
        }
        .product-list-row{
        	display: none;
        }
    }
    @media only screen and (min-width: 600px)and (max-width: 767px) {
          .hide-label{
            display: block !important;
        }
        .hidden-mobile{
            display: none !important;
        }
         .product-list-row{
        	display: none;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .hide-label{
            display: block !important;
        }
        .hidden-mobile{
            display: none !important;
        }
         .product-list-row{
        	display: none;
        }
    }
.table-cost-list{
    width: 41%;
}
.total-cost{
    width: 20%;
}
@media only screen and (max-width: 599px) {
    .total-cost{
        width: 100%;
    }
    .table-div{
        margin-bottom: 0px;
    }
}
.attachments{
        color: #fff;
    /*background: #3eacbe;*/
    background: #b4b4b4;
    font-weight: bold;
    padding: 5px 12px;
    margin-left: 5px;
}
.modal-body-attachments{
    margin-bottom: 20px;
    margin-top: 20px;
}
.attachments:hover{
        color: #b4b4b4;
        /*color: #3eacbe;*/
    background: transparent;
   /*border:1px solid #3eacbe;*/
   border:1px solid #b4b4b4;
   text-decoration: none;
}
.modal-attachments{
    top:25%;
}


/*Quotation start */

.repeater-div {
    /*background: #f1f4f7 !important;*/
    /*background: transparent !important;*/

    padding-top: 11px;
    padding-right: -23px;
    margin: 2px 13px;
     margin-bottom: 2%;
}
.cross{
  text-align: right;
    margin-top: 0px !important;
}
.cross a{
    color: #e46565 !important;
}
.payment{
    width: 106%;
}
.border-header{
    border-bottom: 0.1px solid #eee;
    width: 97%;
    margin-left: 15px;
    margin-top: 2px;
}

.items-div{
    margin-bottom: -6px !important;
}
.date-right{
       padding-left: 98px;
}
.date-right-purchase{
    margin-right: -27px !important;
    padding-left: 0px !important;
}
.items-purchase{
    width: 104%;
    margin-left: -19px;
    margin-top: -45px;
}    
.remark-detail{
    width: 103%;
}    
.add-more-purchase{
    margin-left: 16px;
}
.header-main-purchase{
    margin-top: -17px;
}
.deatil-table{
    width: 293px;
    /*margin-left: 770px;*/margin-left: 753px;
}
.approved-date{
   margin-left: -75%;
}
.row-table{
    padding-right: 53px !important;
}    
.approval-table{
    margin-top: -51px;
}
.table-quotation{
    margin-bottom: -31px !important;
}

@media only screen and (max-width: 450px){ 
        .payment{
                width: 110%;
        }
        .date-right {
            padding-left: 15px;
        }
        .date-right-purchase{
            margin-right: -27px;
            margin-left: -5%;
        }
        .cross{
            margin-top: -3px !important;
            padding-left: 8px;
        }
        .items-purchase{
            width: 110%;
            margin-left: -12px;
        }  
        .remark-detail{
            width: 110%;
        }  
        .item-element{
            margin-top: -76px;
        }
        .add-more-purchase{
           margin-left: 9px;
        }
        .print-header{
            margin-top: -5px;
        }
        .approved-date{
            margin-left: 3%;
        }
        .created-title-by{
            margin-top: -31px;
        }
        .print-header{
            margin-top: -3px;
        }
        .deatil-table {
            width: 100%;
            margin-left: 0px;
        }
        .table-quotation{
            margin-bottom: -29px !important;
        }
        .approval-table{
            margin-top: -53px;
        }
}

@media only screen and(min-width : 768px)   
and (max-width : 1007px)  {
       .date-right {
        padding-left: 18px;
    }
}
/* Quotation end here*/
 .repeater-div{
        /*background: #f1f4f7 !important;*/
        margin-top: 10px;
       padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    }
        .repeater-title{
          color: #666;
        padding: 10px 0;font-size: 18px;
        line-height: 18px;
        }
        .repeter-main-label{
          margin-top: 15px;
          margin-bottom: 2px;
        }
.deatil-view-attachment{
    margin-top: 30px;
}
.table-style-custom{
    border-top: ridge !important;
}
.table-style-custom{
    border: 2px solid !important;
    border-style: ridge !important;
   
    margin-bottom: 0px!important;
}
  .hidden-field
     {
       height: 1px;
      visibility: hidden;
      margin-top: -50px;
      display: inherit;
     }
     @media (max-width: 991px) {
        .hidden-field
         {
          height: 0.5px;padding: 0px;
            margin: 0px;
         }
     }
     .hidden-field-form
     {
      visibility: hidden;
      margin-top: -20px;
      display: inherit;
     }
     @media (max-width: 991px) {
        .hidden-field-form
         {
          
          height: 0.5px;padding: 0px;
            margin: 0px;
          
         }
     }
.label-qout{
  text-align: right;
}
.span-qout{
  text-align: right;
}
.row-qout{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
 @media (max-width: 991px) {
  .row-qout{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  .label-qout{
    text-align: left;
  }
  .span-qout{
    text-align: left;
  }
  .pt-28{
    padding-top: 0px!important;
  }
 }
.panel-body{
  box-shadow: none!important;
}
.page-content{
  background: #fff;
}
.table td:nth-child(odd){
  background: #fff;
}
/*table.table.table-detail-custom.table-stylm tr:last-child{
      border-bottom: 1px solid #e5e5e5;
}*/
.panel-heading{
  background: #fff!important;
  border: none!important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  /*border-top: 1px solid #f1f1f1;*/
  border-top:1px solid #e3e3e3;
}
.panel{
  border-color: #e3e3e3!important;
    border-radius: 0px;
}
.panel-list{
  border-top: none;
}
.panel-sub-quo{
  border-color: #e3e3e3!important;border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.table td:nth-child(even){
  background-color: #fff!important;
}
.custom-flip-content thead tr th{
  border:none!important;
}
.custom-flip-content tbody tr td{
    border:none!important;
    border-top: 1px solid #e7ecf1!important;
}

.follow-up-list{
        list-style: none;
        padding: 5px 0;
        margin: 10px auto;
        font-size: 12px;
        margin-top: 0px;
    }
    .follow-up-list li{
        list-style: none;
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid #e7e7e7;
    }
    .follow-up-list li:last-child {
       border-bottom: 1px solid #fff; 
    }
    .follow-lead{
        color: #343a40;
        /*font-size: 13px;*/
        font-size: 16px;    
        font-weight: 600;
    }
    .follow-lead:hover{
        color: #767a82;
        text-decoration: none;
    }
    .follow-date{
        color: #767a82;font-size: 11px;
        font-weight: 600;float: right;padding-top: 5px;
    }
    .follow-up-manage-by{
        /*color: #a0a0a0;*/font-size: 11px;
        font-weight: 400;float: right;/*padding-top: 5px;*/
            padding: 2px 9px;border-radius: 10px!important;
            background-color: #67b7dc;color: #fff;
    }
    .lead-body{
        display: block;    margin-bottom: 10px;
        font-size: 12px;
        line-height: 1.42857;
    }
    /*.follow-up-button{ 
        display: block;    margin-bottom: 10px;   
        float: right;
    }*/
    .follow-up-button{
        float: none;
        display: block;
        width: 100%;text-align: right;
        padding-bottom: 8px;
    }
    .follow-manageby{
        color: #868990;font-size: 13px
    }
    .manage-block{
        float: none;
        display: block;
    }
    .manage-block .follow-date{

    }
    .follow-done{
        background: #477cb7;
        border:1px solid #477cb7;
        color: #fff;
        padding: 4px 5px;
        margin-right: 5px;
        border-radius: 50%!important;
    }
    .follow-done:hover{
        background: #5393da;
        border:1px solid #5393da;
        color: #fff;
    }
    .follow-up-reschedule{
        background-color: #4badf8;
        color: #fff;
        padding: 4px 5px;
        margin-right: 5px;
        border-radius: 50%!important;border:1px solid #4badf8;
    }

    .follow-up-reschedule i{
        margin-right: 0px;font-size: 12px!important;
    }
    .follow-up-reschedule:hover{
        background: #8ac5f2;
        border:1px solid #8ac5f2;
        color: #fff; padding: 4px 5px;
        margin-right: 5px;
    }   

    .follow-up-edit{
        background-color: #EF7F1A;
        color: #fff;
        padding: 4px 5px;
        margin-right: 5px;
        border-radius: 50%!important;
        border:1px solid #EF7F1A;
    }
    .follow-up-edit:hover{
        background: #f5a760;
        border:1px solid #f5a760;
        color: #fff; padding: 4px 5px;
        margin-right: 5px;
    }
    .follow-up-edit i{
        color: #fff!important;    font-size: 12px!important;margin-right: 0px;
    }
    .portlet-sub{
        margin-bottom: 0px!important;
    }
    .portlet-followup{
        margin-top: 0px;
        padding-top: 0px!important;
    }
    .portlet.light>.portlet-title>.caption .caption-subject{
        color: #2f353b!important;
    }
    .no-follow-up{
        color: #868990;
        font-size: 13px;font-weight: 600;
    }
@media (max-width: 991px) {
  .table-responsive{
    margin-bottom: 0px;
  }
  .total-table-list{
    border: 1px solid #e7ecf1!important;
    
    margin-bottom: 20px;
  }
  .custom-flip-content thead tr th{
    border:1px solid #e7ecf1 !important;
    border-top: none!important;
  }
  .custom-flip-content tbody tr td{
      border:1px solid #e7ecf1 !important;border-top: none!important;
      
  }
}


.portlet.light.bordered.portlet-container{
  box-shadow:none!important;
  border : 1px solid #e3e3e3!important;    border-radius: 12px !important;padding: 12px!important;
}
.recent-lead{
  color: #82949a;
}
.task-amount, .task-status{
  display: -webkit-inline-box;
}
.recent-lead:hover{
  color: #2ab4c0;text-decoration: none;
}
.flat-white{
  color: #fff!important;
}
.recent-activity-feeds li{
  background-color: transparent!important;
  /*background-color: #f0f0f0!important;*/
}
.feeds li .col1>.cont>.task-lead>.desc{
  /*margin-left: 10px;*/margin-left: 35px;
}
.recent-activity-feeds li .col2>.date{
    font-size: 12px;
    padding-top: 7px;
}
.feeds li .col1>.cont>.task-amount>.desc{
  margin-left: 10px;
}
.feeds li .col1>.cont>.task-status>.desc{
  /*margin-left: 35px;*/
  margin-left: 12px;
}
.feeds li .col1>.cont>.task-status.deal>.desc{
  margin-left: 10px;
}
.feeds li .col1>.cont>.task-stage>.desc{
  margin-left: 35px;
}
.feeds li .col1>.cont>.task-pipeline>.desc{
  margin-left: 35px;
}

.span-amt{
  font-weight: bold;
}
.span-amt.won{
  color: #2cbc3d;
}
.span-amt.lose{
      color: #f96666;
}
@media only screen and (max-width: 599px){
  .right-del {
      float: right;
      margin-top: -57px !important;
  }
  .portlet.light>.portlet-title>.inputs {
      float: right;
      display: inline-block;
      
      margin-bottom: -24px;
  }

  .task-amount, .task-status{
    display: unset;
  }
  .task-amount img, .task-status img{
    float: left;
    margin-right: 10px;
  }

}
@media only screen and (min-width: 600px)and (max-width: 767px) {
  .task-amount, .task-status{
      display: unset;
    }
    .task-amount img, .task-status img{
      float: left;
      margin-right: 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .task-amount, .task-status{
      display: unset;
    }
    .task-amount img, .task-status img{
      float: left;
      margin-right: 10px;
    }
}
.task-bck{
    background-color: #ffffff;
    border-radius: 16px !important;
    border: 1px solid #d8d7d7;
  }

  .panel-tab{
  border:none!important;
}
.quo-container{
  display: inline-flex;
}
.quo-container i{
  padding-top: 6px;
  padding-left: 5px;
}
.desc span{
  color: #9699a2;

}
.span-amt.status{

}

.span-amt.to-status{

}

.span-amt.from-status{
  color: #575962;
  font-weight: 900;
}

.list-timeline{
  display: block;
}
.list-timeline-items{
  position: relative;padding: 0;margin: 0;
}
.list-timeline-items:before{
  background-color: #ebedf2;
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 3px;
}
.timeline-items{
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 6px 0;
  margin: 5px 0;
  -webkit-box-direction: normal;
}
.timeline-items:before{
  /*background-color: white;*/
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 50%;
  top: 0;
  bottom: 0;
  left: 3px;
}

.timeline-set-line{
  /*float: left;*/

  text-align: left;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  width: 20px;
  color: #575962;
}
.timeline-set-line:before{
  background-color: #34bfa3;
  position: absolute;
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  left: 0;
  top: 50%;
  margin-top: -3.5px;
  border-radius: 100%;
}

.timeline-text{
  /*color: #575962;*/
  color: #82949a;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  padding: 0 5px 0 0;
  font-size: 14px;
  /*font-size: 12px;*/
}
.timeline-time{
  display: table-cell;
    text-align: right;
    vertical-align: middle;
    /*width: 80px;*/
    width: 100px;
    padding: 0 0 0 5px;
    padding-right: 10px;
    /*font-size: .85rem;*/
    font-size: 12px;
    /*font-size: 10px;*/
    color: #7b7e8a;
}
.timeline-items:first-child{
  padding-top: 0;
    margin-top: 0;
}
.timeline-items:first-child:before{
      background-color: white;
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 3px;
}
.timeline-items:last-child:before{
  background-color: #fff;
  background-color: #ebedf2;
      /*background-color: white;*/
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 3px;
}

.timeline-text a{
  color: #82949a;
}
.timeline-text a:hover{
  text-decoration: none;
  color: #2ab4c0;
}

.act-status{
  /*color: #3f4047;*/font-weight: 600;
}
.start-status{
  color: #3eacbe;font-weight: 600;
}
.status-tag{
   color: #3eacbe;
    border: 1px soild #e7e7e7!important;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 10px!important;
    border: 1px solid #3eacbe;
}

.timeline-set-line:nth-child(odd):before{
  background-color: #f4516c!important;
}

.timeline-set-line:nth-child(even):before{
  background-color: #34bfa3!important;
}

.timeline-items:first-child{
  padding-top: 10px;
}

.status-tag{
  color: #2ab4c0!important;
}
.btn-check-reload {
    margin-right: 15px;
    padding: 5px 5px 2px 0px;
    color: #7e7e7e;
}

.table-detail-custom td.text-details:nth-child(odd){
  font-weight: 400;
}
.table-detail-custom.table-style-tab td:nth-child(odd){
  width:25%!important;
}


@media (max-width: 991px) {
  .table-detail-custom.table-style-tab td:nth-child(odd){
    width:100%!important;
  }
}

.rep-fixed-label .drp-title>label{
      margin-top: 10px!important;
}

.pl-0{
  padding-left: 0px!important;
}


.tabbable-line>.nav-tabs>li{
      border-bottom: 4px solid transparent!important;
}

.tabbable-line>.nav-tabs>li.active {
    border-bottom: 4px solid #1d96ad!important;
}
.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover{
  border-bottom: 4px solid #1d96ad!important;
}

.computation-hidden{
  display: none;
}

@media only screen and (max-width: 768px){
  .flip-scroll .table-bordered.flip-content tbody tr td {
      min-height: 3em!important;
      
  }
}

/*activity custom css*/
.portlet-activity{
  box-shadow: none!important;
  border: 1px solid #e3e3e3!important;
  border-radius: 12px !important;
  padding: 12px!important;
}
.portlet-activity .activity-list .activity-item{
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.4rem;
  position: relative;
}
.activity-item:before{
  position: absolute;
  display: block;
  width: 0.3rem;
  border-radius: 4px;
  width: 4px;
  border-radius: 4px;
  height: 100%;
  left: 0.8rem;
  content: "";
}
.activity-list .activity-item:nth-child(1n+1):before{
  background: #5867dd;
}
.activity-list .activity-item:nth-child(2n+1):before{
  background: #fd397a; 
}
.activity-list .activity-item:nth-child(4n+1):before{
  background: #1dc9b7;
}
.portlet-activity .activity-list .activity-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0rem 2rem; 
  color: #6c7293;
}
.activity-main-text{
  font-weight: 600;
}
a.activity-user{
  color: #6c7293;
}
a.activity-user:hover{
  color: #2ab4c0;
  text-decoration: none;
}
span.activity-end-status{
  color: #5d78ff;
}
span.activity-end-amount{
  color: #1dc9b7;
}
span.activity-created{
  color: #4badf8;
}
.activity-time{
  font-size: 12px;
  font-weight: 400;
  color: #a7abc3;
}
.activity-log{
  content:'';
  width: 18px;
  height: 18px;
  padding: 1rem 0 0 2.2rem;
}
.portlet.light.bordered>.portlet-title.tabbable-line{
  border-bottom: 1px solid #eef1f5!important;
}