.cross a {
    color: #e46565 !important;
}

.title-add{
    margin-top: 3px;
    margin-left: -135px;
}

.tabbed-panel{
  margin-bottom: 0px;
    border: none!important;
}

.portlet>.portlet-title>.nav-tabs {
    background: 0 0;
    margin: 1px 0 0;
    float: left !important;
    display: inline-block;
    border: 0;
}

.boxes-main {
    background-color: #e6e6e6;
    
}

.nav-tabs li.active {
    background-color: white !important;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
     background: white !important; 
    border-bottom: 4px solid #194f80 !important;
}
.table-style-top{
    border-top: ridge;
}
.tabbed-custom-panel{
  border:none!important;
}
@media only screen and (max-width: 450px){
    .title-add {
     margin-top: 11px; 
    margin-left: -4px;
}
}

.delete-repeater-custom{
      margin-bottom: 15px;
    margin-top: 0px;
}

.tabbable-line>.nav-tabs>li{
      border-bottom: 4px solid transparent!important;
}

.tabbable-line>.nav-tabs>li.active {
    border-bottom: 4px solid #1d96ad!important;
}
.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover{
  border-bottom: 4px solid #1d96ad!important;
}
.title-dash{
  margin-top: 0px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
}
.dash-content{
      align-items: flex-start;
    padding: 10px;
    border: 1px solid #e7e7e7;
    /* border: 1px solid #d5d5d5; */
    border-radius: 10px!important;
    position: relative;
}
a.inventory_filter.selected .dash-content{
  background-color: #0036e773;
  border: 1px solid transparent;
}
.dash-title{
  margin: 0px;
    line-height: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    /* color: #464a53; */
    color: #7c7c7c;
}
a.inventory_filter.selected .dash-content .dash-title{
  color: #fff;
}
.dash-count{
  margin-top: 5px;
    margin-bottom: 0px;
    font-size: 2rem;
    font-weight: 700;
    color: #464a53!important;
}
a.inventory_filter.selected .dash-content .dash-count{
  color: #fff!important;
}
a.inventory_filter.content-start:hover{
  text-decoration: none;
}
.btn-reload{
  /*margin-bottom: 20px;*/
  margin-left: 20px;
  box-shadow: none!important;
}
.btn.btn-reload.grey:not(.btn-outline){
  box-shadow: none!important;
}
.btn-reload:hover{
  background-color: #dbdada!important;
}

.btn.btn-reload.grey:not(.btn-outline):hover{
  background-color: #dbdada!important;
}

.label-form-group{
  width: auto;
  margin-bottom:0px;
}
.label-form-group label{
  color: #999;
  font-size: 16px;
}
.btn-list-search{
  margin-top: 26px;
}
.portlet-custom .portlet-title{
  margin-bottom: 0px!important;
}
@media only screen and (max-width: 599px) {
  .btn-list-search{
    margin-top: 0px;
  }
  .btn.green{
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .btn-list-search{
    margin-top: 0px;
  }
  .portlet.light .dataTables_wrapper .dt-buttons{
    margin-top: 0px;
    margin-right: 10px;
  }
}